### 参考
1. [Spark_SQL_cheatsheet_code.ipynb](https://github.com/ShowMeAI-Hub/awesome-AI-cheatsheets/blob/main/Spark/Spark_SQL_cheatsheet_code.ipynb)， 镜像在gitee [ShowMeAI-Hub--awesome-AI-cheatsheets.git](https://gitee.com/mirrr/ShowMeAI-Hub--awesome-AI-cheatsheets/tree/main/Spark)

### 环境安装

https://cdn.azul.com/zulu/bin/zulu8.76.0.17-ca-jdk8.0.402-linux_x64.tar.gz

https://archive.apache.org/dist/spark/spark-2.4.8/spark-2.4.8-bin-hadoop2.7.tgz

In [1]:
%%bash
date && pwd

which python
which pip

file /app/zulu8.76.0.17-ca-jdk8.0.402-linux_x64 /app/spark-2.4.8-bin-hadoop2.7
md5sum /app/pack/spark-2.4.8-bin-hadoop2.7.tgz /app/pack/zulu8.76.0.17-ca-jdk8.0.402-linux_x64.tar.gz

ls -lh /fridaAnlzAp/frida_js/*RunBuszJs*.log

2024年 03月 25日 星期一 21:49:33 CST
/fridaAnlzAp/analyze_by_spark_GraphFrame
/app/Miniconda3-py37_4.12.0/bin/python
/app/Miniconda3-py37_4.12.0/bin/pip
/app/zulu8.76.0.17-ca-jdk8.0.402-linux_x64: directory
/app/spark-2.4.8-bin-hadoop2.7:             directory
3af9ae26e91360c0f39a5647d9279715  /app/pack/spark-2.4.8-bin-hadoop2.7.tgz
3d8073a1e7bc71a0c53bbbbad590dad2  /app/pack/zulu8.76.0.17-ca-jdk8.0.402-linux_x64.tar.gz
-rwxrwxrwx 1 z z 263M  3月 24 16:57 /fridaAnlzAp/frida_js/frida-trace-out-RunBuszJs-1711270533.log

In [2]:
%%bash

pip install findspark


[[ -d ShowMeAI-Hub--awesome-AI-cheatsheets ]] || git clone https://gitee.com/mirrr/ShowMeAI-Hub--awesome-AI-cheatsheets.git

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: findspark in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (2.0.1)

In [3]:
import os
os.environ["JAVA_HOME"]="/app/zulu8.76.0.17-ca-jdk8.0.402-linux_x64"
# os.environ["SPARK_HOME"]="/app/spark-2.4.8-bin-hadoop2.7"

In [4]:
import findspark
findspark.init(spark_home="/app/spark-2.4.8-bin-hadoop2.7")

In [5]:
%%bash

env | grep HOME

JAVA_HOME=/app/zulu8.76.0.17-ca-jdk8.0.402-linux_x64
HOME=/home/z
SPARK_HOME=/app/spark-2.4.8-bin-hadoop2.7

In [6]:
from pyspark.sql import SparkSession
#必须用py3.7 , 否则 这一行报错 TypeError: 'bytes' object cannot be interpreted as an integer

SparkSession 用于创建数据帧，将数据帧注册为表，执行 SQL 查询，缓存表及读取 Parquet 文件。

In [7]:
spark = SparkSession \
       .builder \
       .appName("analyze_by_spark_GraphFrame") \
       .config("spark.some.config.option", "some-value") \
       .getOrCreate()

24/03/25 21:49:35 WARN Utils: Your hostname, mchr resolves to a loopback address: 127.0.1.1; using 10.0.4.23 instead (on interface wlo1)
24/03/25 21:49:35 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
24/03/25 21:49:35 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/25 21:49:36 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
%%bash

cat ./ShowMeAI-Hub--awesome-AI-cheatsheets//Spark/data/people.txt

Michael, 29
Andy, 30
Justin, 19

In [9]:
from pyspark.sql.types import *
from pyspark.sql import *
from pyspark.sql.functions import *

###  从Spark数据源创建

#### Parquet文件

#### 文本文件

#### JSON

In [10]:
%%bash

cat ShowMeAI-Hub--awesome-AI-cheatsheets/Spark/data/customers.json

{"firstName":"Jane", "lastName":"Butterburg", "address": {"street": "6649 N Blue Gum St", "city": "New Orleans","state": "LA", "zip": "70116" }, "phoneNumber":{"number":"210-332-578", "type":"mobile"}, "age":22}
{"firstName":"Josephine", "lastName":"Darakjy", "address": {"street": "4 B Blue Ridge Blvd", "city": "Brighton","state": "MI", "zip": "48116" }, "phoneNumber":{"number":"210-319-103", "type":"mobile"}, "age":25}
{"firstName":"Boris", "lastName":"Chemel", "address": {"street": "8 W Cerritos Ave #54", "city": "Bridgeport","state": "NJ", "zip": "08014" }, "phoneNumber":{"number":"210-322-007", "type":"mobile"}, "age":32}
{"firstName":"Johnson", "lastName":"Smith", "address": {"street": "5 W Blue Ave St", "city": "Bridgeport","state": "NJ", "zip": "08112" }, "phoneNumber":{"number":"210-303-029", "type":"mobile"}, "age":35}

In [11]:
df = spark.read.json("ShowMeAI-Hub--awesome-AI-cheatsheets/Spark/data/customers.json")

In [12]:
df.show() #显示 df 的内容

+--------------------+---+---------+----------+--------------------+
|             address|age|firstName|  lastName|         phoneNumber|
+--------------------+---+---------+----------+--------------------+
|[New Orleans, LA,...| 22|     Jane|Butterburg|[210-332-578, mob...|
|[Brighton, MI, 4 ...| 25|Josephine|   Darakjy|[210-319-103, mob...|
|[Bridgeport, NJ, ...| 32|    Boris|    Chemel|[210-322-007, mob...|
|[Bridgeport, NJ, ...| 35|  Johnson|     Smith|[210-303-029, mob...|
+--------------------+---+---------+----------+--------------------+

### 查阅数据信息

#### 查阅spark Dataframe的信息

In [13]:
df.dtypes   #返回 df 的列名与数据类型

[('address', 'struct<city:string,state:string,street:string,zip:string>'),
 ('age', 'bigint'),
 ('firstName', 'string'),
 ('lastName', 'string'),
 ('phoneNumber', 'struct<number:string,type:string>')]

In [14]:
df.show() #显示 df 的内容

+--------------------+---+---------+----------+--------------------+
|             address|age|firstName|  lastName|         phoneNumber|
+--------------------+---+---------+----------+--------------------+
|[New Orleans, LA,...| 22|     Jane|Butterburg|[210-332-578, mob...|
|[Brighton, MI, 4 ...| 25|Josephine|   Darakjy|[210-319-103, mob...|
|[Bridgeport, NJ, ...| 32|    Boris|    Chemel|[210-322-007, mob...|
|[Bridgeport, NJ, ...| 35|  Johnson|     Smith|[210-303-029, mob...|
+--------------------+---+---------+----------+--------------------+

In [15]:
df.head(3) #返回前 n 行数据

[Row(address=Row(city='New Orleans', state='LA', street='6649 N Blue Gum St', zip='70116'), age=22, firstName='Jane', lastName='Butterburg', phoneNumber=Row(number='210-332-578', type='mobile')),
 Row(address=Row(city='Brighton', state='MI', street='4 B Blue Ridge Blvd', zip='48116'), age=25, firstName='Josephine', lastName='Darakjy', phoneNumber=Row(number='210-319-103', type='mobile')),
 Row(address=Row(city='Bridgeport', state='NJ', street='8 W Cerritos Ave #54', zip='08014'), age=32, firstName='Boris', lastName='Chemel', phoneNumber=Row(number='210-322-007', type='mobile'))]

In [16]:
df.first()  #返回第 1 行数据

Row(address=Row(city='New Orleans', state='LA', street='6649 N Blue Gum St', zip='70116'), age=22, firstName='Jane', lastName='Butterburg', phoneNumber=Row(number='210-332-578', type='mobile'))

In [17]:
df.take(3) #返回前 n 行数据

[Row(address=Row(city='New Orleans', state='LA', street='6649 N Blue Gum St', zip='70116'), age=22, firstName='Jane', lastName='Butterburg', phoneNumber=Row(number='210-332-578', type='mobile')),
 Row(address=Row(city='Brighton', state='MI', street='4 B Blue Ridge Blvd', zip='48116'), age=25, firstName='Josephine', lastName='Darakjy', phoneNumber=Row(number='210-319-103', type='mobile')),
 Row(address=Row(city='Bridgeport', state='NJ', street='8 W Cerritos Ave #54', zip='08014'), age=32, firstName='Boris', lastName='Chemel', phoneNumber=Row(number='210-322-007', type='mobile'))]

In [18]:
df.schema #返回 df 的 Schema

StructType(List(StructField(address,StructType(List(StructField(city,StringType,true),StructField(state,StringType,true),StructField(street,StringType,true),StructField(zip,StringType,true))),true),StructField(age,LongType,true),StructField(firstName,StringType,true),StructField(lastName,StringType,true),StructField(phoneNumber,StructType(List(StructField(number,StringType,true),StructField(type,StringType,true))),true)))

In [19]:
df.describe().show()  #汇总统计数据

+-------+-----------------+---------+----------+
|summary|              age|firstName|  lastName|
+-------+-----------------+---------+----------+
|  count|                4|        4|         4|
|   mean|             28.5|     null|      null|
| stddev|6.027713773341708|     null|      null|
|    min|               22|    Boris|Butterburg|
|    max|               35|Josephine|     Smith|
+-------+-----------------+---------+----------+

In [20]:
df.columns #返回 df 的列名

['address', 'age', 'firstName', 'lastName', 'phoneNumber']

In [21]:
df.count() #返回 df 的行数

4

In [22]:
df.distinct().count() #返回 df 中不重复的行数

4

In [23]:
df.printSchema() #返回 df的 Schema

root
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- zip: string (nullable = true)
 |-- age: long (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- phoneNumber: struct (nullable = true)
 |    |-- number: string (nullable = true)
 |    |-- type: string (nullable = true)

In [24]:
df.explain() #返回逻辑与实体方案

== Physical Plan ==
*(1) FileScan json [address#6,age#7L,firstName#8,lastName#9,phoneNumber#10] Batched: false, Format: JSON, Location: InMemoryFileIndex[file:/fridaAnlzAp/analyze_by_spark_GraphFrame/ShowMeAI-Hub--awesome-AI-cheatshe..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<address:struct<city:string,state:string,street:string,zip:string>,age:bigint,firstName:str...

### 重复值

#### dropDuplicates函数

In [25]:
df = df.dropDuplicates()

### 查询

#### 自定义函数F

In [26]:
from pyspark.sql import functions as F

#### Select

In [27]:
df.select("firstName").show() #显示 firstName 列的所有条目

+---------+
|firstName|
+---------+
|Josephine|
|     Jane|
|    Boris|
|  Johnson|
+---------+

In [28]:
df.select("firstName","lastName").show()

+---------+----------+
|firstName|  lastName|
+---------+----------+
|Josephine|   Darakjy|
|     Jane|Butterburg|
|    Boris|    Chemel|
|  Johnson|     Smith|
+---------+----------+

In [29]:
df.show()

+--------------------+---+---------+----------+--------------------+
|             address|age|firstName|  lastName|         phoneNumber|
+--------------------+---+---------+----------+--------------------+
|[Brighton, MI, 4 ...| 25|Josephine|   Darakjy|[210-319-103, mob...|
|[New Orleans, LA,...| 22|     Jane|Butterburg|[210-332-578, mob...|
|[Bridgeport, NJ, ...| 32|    Boris|    Chemel|[210-322-007, mob...|
|[Bridgeport, NJ, ...| 35|  Johnson|     Smith|[210-303-029, mob...|
+--------------------+---+---------+----------+--------------------+

In [30]:
#字段phoneNumber取别名contactInfo
df.select( "firstName", "age", df.phoneNumber .alias("contactInfo")  ) \
.select("contactInfo", "firstName", "age") \
.show()   #显示 firstName、age 的所有条目和类型

+--------------------+---------+---+
|         contactInfo|firstName|age|
+--------------------+---------+---+
|[210-319-103, mob...|Josephine| 25|
|[210-332-578, mob...|     Jane| 22|
|[210-322-007, mob...|    Boris| 32|
|[210-303-029, mob...|  Johnson| 35|
+--------------------+---------+---+

In [31]:
df.select(df["firstName"],df["age"]+ 1).show()   
# 显示 firstName 和 age 列的所有 记录，并对 age 记录添加1

+---------+---------+
|firstName|(age + 1)|
+---------+---------+
|Josephine|       26|
|     Jane|       23|
|    Boris|       33|
|  Johnson|       36|
+---------+---------+

In [32]:
df.select(df['age'] > 24).show()  
#显示所有小于24岁的记录

+----------+
|(age > 24)|
+----------+
|      true|
|     false|
|      true|
|      true|
+----------+

#### When

In [33]:
df.select("firstName", \
F.when(df.age > 30, 1) \
.otherwise(0) ) \
.show()   
#显示 firstName，且大于30岁显示 1，小于30岁显示0

+---------+--------------------------------------+
|firstName|CASE WHEN (age > 30) THEN 1 ELSE 0 END|
+---------+--------------------------------------+
|Josephine|                                     0|
|     Jane|                                     0|
|    Boris|                                     1|
|  Johnson|                                     1|
+---------+--------------------------------------+

In [34]:
df[df.firstName.isin("Jane","Boris")].collect()  
# 显示符合指定条件的 firstName 列 的记录

[Row(address=Row(city='New Orleans', state='LA', street='6649 N Blue Gum St', zip='70116'), age=22, firstName='Jane', lastName='Butterburg', phoneNumber=Row(number='210-332-578', type='mobile')),
 Row(address=Row(city='Bridgeport', state='NJ', street='8 W Cerritos Ave #54', zip='08014'), age=32, firstName='Boris', lastName='Chemel', phoneNumber=Row(number='210-322-007', type='mobile'))]

#### Like

In [35]:
df.select("firstName", 
df.lastName.like("Smith")  ) \
.show()   
# 显示 lastName 列中包含 Smith 的 firstName 列的记录

+---------+-------------------+
|firstName|lastName LIKE Smith|
+---------+-------------------+
|Josephine|              false|
|     Jane|              false|
|    Boris|              false|
|  Johnson|               true|
+---------+-------------------+

####  Startswith - Endswith

In [36]:
df.select("firstName", 
df.lastName.startswith("Sm")) \
.show()   
# 显示 lastName 列中以 Sm 开头的 firstName 列的记录

+---------+------------------------+
|firstName|startswith(lastName, Sm)|
+---------+------------------------+
|Josephine|                   false|
|     Jane|                   false|
|    Boris|                   false|
|  Johnson|                    true|
+---------+------------------------+

In [37]:
df.select( df.lastName .endswith("th") ) \
.show()   
# 显示以 th 结尾的 lastName

+----------------------+
|endswith(lastName, th)|
+----------------------+
|                 false|
|                 false|
|                 false|
|                  true|
+----------------------+

#### Substring

In [38]:
df.select( df.firstName.substr(1, 3)  .alias("name") ) \
 .collect()   
#返回 firstName 的子字符串

[Row(name='Jos'), Row(name='Jan'), Row(name='Bor'), Row(name='Joh')]

#### Between

In [39]:
df.select( df.age.between(22, 24) ) \
.show()   
#显示介于22岁至24岁之间的 age 列的记录

+-----------------------------+
|((age >= 22) AND (age <= 24))|
+-----------------------------+
|                        false|
|                         true|
|                        false|
|                        false|
+-----------------------------+

###  添加、修改、删除列
####  添加列

In [40]:
df.select(df.phoneNumber.number).show()

+------------------+
|phoneNumber.number|
+------------------+
|       210-319-103|
|       210-332-578|
|       210-322-007|
|       210-303-029|
+------------------+

In [41]:
df = df.withColumn('city',df.address.city) \
 .withColumn('postalCode',df.address.zip) \
 .withColumn('state',df.address.state) \
 .withColumn('streetAddress',df.address.street) \
 .withColumn('telePhoneNumber', df.phoneNumber.number) \
 .withColumn('telePhoneType', df.phoneNumber.type)

In [42]:
df.show(vertical=True)

-RECORD 0-------------------------------
 address         | [Brighton, MI, 4 ...
 age             | 25
 firstName       | Josephine
 lastName        | Darakjy
 phoneNumber     | [210-319-103, mob...
 city            | Brighton
 postalCode      | 48116
 state           | MI
 streetAddress   | 4 B Blue Ridge Blvd
 telePhoneNumber | 210-319-103
 telePhoneType   | mobile
-RECORD 1-------------------------------
 address         | [New Orleans, LA,...
 age             | 22
 firstName       | Jane
 lastName        | Butterburg
 phoneNumber     | [210-332-578, mob...
 city            | New Orleans
 postalCode      | 70116
 state           | LA
 streetAddress   | 6649 N Blue Gum St
 telePhoneNumber | 210-332-578
 telePhoneType   | mobile
-RECORD 2-------------------------------
 address         | [Bridgeport, NJ, ...
 age             | 32
 firstName       | Boris
 lastName        | Chemel
 phoneNumber     | [210-322-007, mob...
 city            | Bridgeport
 postalCode      | 08014
 state           | NJ
 streetAddress   | 8 W Cerritos Ave #54
 telePhoneNumber | 210-322-007
 telePhoneType   | mobile
-RECORD 3-------------------------------
 address         | [Bridgeport, NJ, ...
 age             | 35
 firstName       | Johnson
 lastName        | Smith
 phoneNumber     | [210-303-029, mob...
 city            | Bridgeport
 postalCode      | 08112
 state           | NJ
 streetAddress   | 5 W Blue Ave St
 telePhoneNumber | 210-303-029
 telePhoneType   | mobile

#### 修改列

In [43]:
df = df.withColumnRenamed('telePhoneNumber', 'phoneNumber')
#列 重命名

In [44]:
df.columns

['address',
 'age',
 'firstName',
 'lastName',
 'phoneNumber',
 'city',
 'postalCode',
 'state',
 'streetAddress',
 'phoneNumber',
 'telePhoneType']

#### 删除列

In [45]:
df = df.drop("address", "phoneNumber")
# 等价于
# df = df.drop(df.address).drop(df.phoneNumber)

#### 分组

In [46]:
df.groupBy("age")\
  .count() \
  .show()  
#按 age 列分组，统计每组人数

+---+-----+
|age|count|
+---+-----+
| 22|    1|
| 32|    1|
| 25|    1|
| 35|    1|
+---+-----+

#### 筛选

##### filter筛选

In [47]:
df.filter( df["age"]>24 ) .show()   
#按 age 列筛选，保留年龄大于24岁的

+---+---------+--------+----------+----------+-----+--------------------+-------------+
|age|firstName|lastName|      city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+--------+----------+----------+-----+--------------------+-------------+
| 25|Josephine| Darakjy|  Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 32|    Boris|  Chemel|Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|   Smith|Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+--------+----------+----------+-----+--------------------+-------------+

#### 排序
##### sort与orderBy操作

In [48]:
df.columns

['age',
 'firstName',
 'lastName',
 'city',
 'postalCode',
 'state',
 'streetAddress',
 'telePhoneType']

In [49]:
df.sort( df.age.desc() ).collect()
#按字段age降序排列

[Row(age=35, firstName='Johnson', lastName='Smith', city='Bridgeport', postalCode='08112', state='NJ', streetAddress='5 W Blue Ave St', telePhoneType='mobile'),
 Row(age=32, firstName='Boris', lastName='Chemel', city='Bridgeport', postalCode='08014', state='NJ', streetAddress='8 W Cerritos Ave #54', telePhoneType='mobile'),
 Row(age=25, firstName='Josephine', lastName='Darakjy', city='Brighton', postalCode='48116', state='MI', streetAddress='4 B Blue Ridge Blvd', telePhoneType='mobile'),
 Row(age=22, firstName='Jane', lastName='Butterburg', city='New Orleans', postalCode='70116', state='LA', streetAddress='6649 N Blue Gum St', telePhoneType='mobile')]

In [50]:
df.sort("age", ascending=False) .collect()
#按字段age降序排列

[Row(age=35, firstName='Johnson', lastName='Smith', city='Bridgeport', postalCode='08112', state='NJ', streetAddress='5 W Blue Ave St', telePhoneType='mobile'),
 Row(age=32, firstName='Boris', lastName='Chemel', city='Bridgeport', postalCode='08014', state='NJ', streetAddress='8 W Cerritos Ave #54', telePhoneType='mobile'),
 Row(age=25, firstName='Josephine', lastName='Darakjy', city='Brighton', postalCode='48116', state='MI', streetAddress='4 B Blue Ridge Blvd', telePhoneType='mobile'),
 Row(age=22, firstName='Jane', lastName='Butterburg', city='New Orleans', postalCode='70116', state='LA', streetAddress='6649 N Blue Gum St', telePhoneType='mobile')]

In [51]:
df.orderBy(["age","phoneNumber"],ascending=[0,1])  .collect()
#按字段age降序、字段phoneNumber升序排列

[Row(age=35, firstName='Johnson', lastName='Smith', city='Bridgeport', postalCode='08112', state='NJ', streetAddress='5 W Blue Ave St', telePhoneType='mobile'),
 Row(age=32, firstName='Boris', lastName='Chemel', city='Bridgeport', postalCode='08014', state='NJ', streetAddress='8 W Cerritos Ave #54', telePhoneType='mobile'),
 Row(age=25, firstName='Josephine', lastName='Darakjy', city='Brighton', postalCode='48116', state='MI', streetAddress='4 B Blue Ridge Blvd', telePhoneType='mobile'),
 Row(age=22, firstName='Jane', lastName='Butterburg', city='New Orleans', postalCode='70116', state='LA', streetAddress='6649 N Blue Gum St', telePhoneType='mobile')]

#### 替换缺失值
##### replace操作

In [52]:
df.na.fill(50).show()   #用一个值替换空值

+---+---------+----------+-----------+----------+-----+--------------------+-------------+
|age|firstName|  lastName|       city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+
| 25|Josephine|   Darakjy|   Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 22|     Jane|Butterburg|New Orleans|     70116|   LA|  6649 N Blue Gum St|       mobile|
| 32|    Boris|    Chemel| Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|     Smith| Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+

In [53]:
df.na.drop().show()   #去除 df 中为空值的行

+---+---------+----------+-----------+----------+-----+--------------------+-------------+
|age|firstName|  lastName|       city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+
| 25|Josephine|   Darakjy|   Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 22|     Jane|Butterburg|New Orleans|     70116|   LA|  6649 N Blue Gum St|       mobile|
| 32|    Boris|    Chemel| Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|     Smith| Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+

In [54]:
df.na.replace(10, 20).show()

+---+---------+----------+-----------+----------+-----+--------------------+-------------+
|age|firstName|  lastName|       city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+
| 25|Josephine|   Darakjy|   Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 22|     Jane|Butterburg|New Orleans|     70116|   LA|  6649 N Blue Gum St|       mobile|
| 32|    Boris|    Chemel| Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|     Smith| Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+

#### 重分区
##### repartition重分区

In [55]:
df.repartition(10)\
      .rdd \
      .getNumPartitions()   #将 df 拆分为10个分区

10

In [56]:
df.coalesce(1).rdd.getNumPartitions()   #将 df 合并为1个分区

1

### 运行 SQL 查询
#### 将数据帧注册为视图

In [57]:
df.createGlobalTempView("dfView")

In [58]:
df.createTempView("customerView")

In [59]:
df.createOrReplaceTempView("customerView")

#### 查询视图

In [60]:
df5 = spark.sql("SELECT * FROM customerView").show()

+---+---------+----------+-----------+----------+-----+--------------------+-------------+
|age|firstName|  lastName|       city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+
| 25|Josephine|   Darakjy|   Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 22|     Jane|Butterburg|New Orleans|     70116|   LA|  6649 N Blue Gum St|       mobile|
| 32|    Boris|    Chemel| Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|     Smith| Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+

In [61]:
df2 = spark.sql("SELECT * FROM global_temp.dfView").show()

+---+---------+----------+-----------+----------+-----+--------------------+-------------+
|age|firstName|  lastName|       city|postalCode|state|       streetAddress|telePhoneType|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+
| 25|Josephine|   Darakjy|   Brighton|     48116|   MI| 4 B Blue Ridge Blvd|       mobile|
| 22|     Jane|Butterburg|New Orleans|     70116|   LA|  6649 N Blue Gum St|       mobile|
| 32|    Boris|    Chemel| Bridgeport|     08014|   NJ|8 W Cerritos Ave #54|       mobile|
| 35|  Johnson|     Smith| Bridgeport|     08112|   NJ|     5 W Blue Ave St|       mobile|
+---+---------+----------+-----------+----------+-----+--------------------+-------------+

### 输出
#### 数据结构

In [62]:
rdd1 = df.rdd   #将 df 转换为 RDD

In [63]:
df.toJSON().first()   #将 df 转换为 RDD 字符串

'{"age":25,"firstName":"Josephine","lastName":"Darakjy","city":"Brighton","postalCode":"48116","state":"MI","streetAddress":"4 B Blue Ridge Blvd","telePhoneType":"mobile"}'

In [64]:
%%bash

pip install pandas

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Requirement already satisfied: pandas in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2017.3 in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.17.3 in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /app/Miniconda3-py37_4.12.0/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [65]:
df.toPandas()   #将 df 的内容转为 Pandas 的数据帧

,age,firstName,lastName,city,postalCode,state,streetAddress,telePhoneType
0,25,Josephine,Darakjy,Brighton,48116,MI,4 B Blue Ridge Blvd,mobile
1,22,Jane,Butterburg,New Orleans,70116,LA,6649 N Blue Gum St,mobile
2,32,Boris,Chemel,Bridgeport,08014,NJ,8 W Cerritos Ave #54,mobile
3,35,Johnson,Smith,Bridgeport,08112,NJ,5 W Blue Ave St,mobile

### 保存至文件

In [66]:
df.select("firstName", "city") .write \
  .save("nameAndCity.parquet",mode='overwrite')

In [67]:
df.select("firstName", "age") .write \
  .save("namesAndAges.json",format="json",mode='overwrite')

### 终止SparkSession

In [68]:
spark.stop()